footer.bg-light.mt-5
  .container
    .row
      .col-md-6
        // Footer Content
        p Tags: 
          a(href="#") HTML
          | , 
          a(href="#") CSS
      .col-md-6.text-right
        // Social media sharing links, comments section, etc.
        p &copy; 2024 My Blog. All rights reserved.