head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Influencer Blog
    // Custom CSS
    link(href="/css/blogstyles.css", rel="stylesheet")
    // Font Links
    link(href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Lobster&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap", rel="stylesheet")
    // Bootstrap CSS
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", rel="stylesheet")
