footer.bg-light.mt-auto
  .container
    .row
      .col-md-6.text-left
        // Footer Content
        p Tags: 
          a(href="https://www.w3schools.com/html/") HTML
          | , 
          a(href="https://www.w3schools.com/css/") CSS
          | , 
          a(href="https://www.w3schools.com/js/") JS
          | , 
          a(href="https://www.w3schools.com/js/") Express
      .col-md-6.text-right
        // Social media sharing links, comments section, etc.
        p &copy; 2024 My Blog. All rights reserved.