header.bg-light
  nav.navbar.navbar-expand-lg.navbar-light
    .container.justify-content-center
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/") Home
        li.nav-item
          a.nav-link(id="create-post") Create Blog Post
        li.nav-item
          a.nav-link(href="contact") Contact
        li.nav-item
          if user
            a.nav-link(href="signout") Logout
          else 
            a.nav-link(href="signin") Login
  h1.text-center.mt-4 Influencer Blog