header.bg-light
  nav.navbar.navbar-expand-lg.navbar-light
    .container.justify-content-center
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="index.html") Home
        li.nav-item
          a.nav-link(href="blog.html") Blog Page
        li.nav-item
          a.nav-link(href="contact.html") Contact
        li.nav-item
          a.nav-link(href="sign-in.html") Login
  h1.text-center.mt-4 Influencer Blog