doctype html
html(lang="en")
  include bloghead.pug
    title Contact Us
  body
    include blogheader.pug
    main(id="contactPage")
      h1 Contact Us
      -data = data || {}
      form(id="contactForm" action="/submit" method="POST")
        label(for="name") Name:
        input(type="text", id="name", name="name", value=data.name, required)
        label(for="email") Email:
        input(type="email", id="email", name="email", value=data.email, required)
        label(for="message") Message:
        textarea(id="message", name="message", rows="5", value=data.message, required)
        button(type="submit") Submit
    include blogfooter.pug