doctype html
html
  head
    link(rel='stylesheet', href='/public/css/signin.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", rel="stylesheet")
  body.d-flex.flex-column.vh-100
    block content
