#contactPage {
  margin-top: 3rem;
}
#contactPage h1 {
  text-align: center;
  color: #ec930c;
}
#contactPage p {
  text-align: center;
}
#contactPage #contactForm {
  max-width: 500px;
  margin: 0 auto;
}
#contactPage #contactForm label {
  display: block;
  margin-bottom: 5px;
}
#contactPage #contactForm input,
#contactPage #contactForm textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#contactPage #contactForm label:after {
  content: " *";
  color: red;
}
#contactPage #contactForm button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 3rem;
  width: 100%;
}
#contactPage #contactForm button:hover {
  background-color: #0056b3;
}
